* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Fondo de la página */
    overflow-y: hidden;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header {
    background-color: #ffffff; /* Color de fondo del encabezado */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
}

.header-icons {
    display: flex;
    gap: 20px;
    position: relative;
}

.notification, .user {
    cursor: pointer;
}

.notification img {
    width: 40px;
    height: 40px;
}

.container {
    display: flex;
}

.button1 {
    background-color: #ddf0c7; /* Color de fondo del botón */
    width: 90%; /* Ancho del botón */
    color: black; /* Color del texto del botón */
    padding: 10px 15px;
    cursor: pointer;
    text-align: left;
    display: block;
}

.button1:hover {
    background-color: #e6ca4e; /* Color de fondo al pasar el ratón */
}

.button {
    background-color: #41855d; /* Color del botón */
    width: 90%;
    color: white; /* Color del texto del botón */
    padding: 10px 15px;
    cursor: pointer;
    text-align: left;
    display: block;
}

.button:hover {
    background-color: #1b2e1c; /* Color de fondo al pasar el ratón */
}

.content {
    flex-grow: 1; /* Toma todo el espacio restante */
    padding: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column; /* Alineación vertical */
}

.sidebar {
    width: 250px;
    background-color: #41855d;
    color: white;
    padding: 20px;
    height: 100vh; /* Full height */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.search-bar {
    width: 400px;
    display: flex; /* Muestra los elementos en línea */
    justify-content: space-between; /* Espacio entre elementos */
    margin-bottom: 20px; /* Espaciado inferior */
}

.search-bar input {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #cccccc; /* Borde de entrada */
    border-radius: 5px; /* Bordes redondeados */
    flex-grow: 1; /* Toma todo el espacio disponible */
}

.search-bar button, .search-bar a {
    padding: 10px 15px; /* Espaciado interno */
    margin-left: 10px; /* Espaciado izquierdo */
    background: #1692df; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    text-decoration: none;
}

.search-bar button:hover, .search-bar a:hover {
    background: #2c3e50; /* Color de fondo al pasar el ratón */
}

table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Combina bordes */
    margin-top: 20px; /* Espaciado superior */
}

th, td {
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
    border: 1px solid #dddddd; /* Borde de celdas */
}

th {
    background: #35424a; /* Color de fondo de encabezados */
    color: #ffffff; /* Color del texto en encabezados */
}

td {
    background: #ffffff; /* Color de fondo de celdas */
}

.actions {
    display: flex; /* Flex para acciones */
    gap: 10px; /* Espaciado entre acciones */
}

/* Menús desplegables para notificaciones y perfil */
.notification-menu,
.profile-menu {
    position: absolute; /* Posición absoluta para mostrar los menús */
    display: none; /* Oculta por defecto */
    background-color: #24ff07; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde del menú */
    z-index: 1; /* Asegura que el menú esté sobre otros elementos */
    width: 200px; /* Ancho fijo para los menús */
    padding: 10px; /* Espaciado interno del menú */
}

.notification:hover .notification-menu,
.user:hover .profile-menu {
    display: block; /* Muestra el menú al pasar el mouse */
}
